body{
	width: 100%;
	font-size: 18px;
	margin: 0%;
}
.content-result, .addition{
	font-size: 20px;
	display: block;
	margin-bottom: 1em;
	margin-top: 1em;

}

.centered-text{
	text-align: center;
}

.input-center{

}

.button-egale{
	margin-top: 1,5em;
}